body{
 background-color:#FFFFFF; /*e2e6e8*/   
}

.btn-primario {
    color: #fff;
    background-color: #134682;
    border-color: #134682;
}

.btn-primario:hover {
    color: #fff;
    background-color: #2f5597;
    border-color: #2f5597;
}

.btn-cancelar {
    color: #fff;
    background-color: #d92c28;
    border-color: #d92c28;
}

.btn-cancelar:hover {
    color: #fff;
    background-color: #f06292;
    border-color: #f06292;
}

.centrado {
    text-align: center;
}

.navbar-custom{background:#c7c4c4 !important;}
body[data-layout=horizontal] .navbar-custom .topnav-menu .nav-link{color:#FFF !important;}
.left-side-menu{background:#2f5597 !important;}
.footer{background-color:#c7c4c4  !important;color:#FFF !important;}
#topnav{background:#134682 !important;}
.urlicon{color:#134682;}
.urlicon:hover{color:#2f5597;}
.urlicon:active{color:#134682 !important;}
.page-title{color:#134682;}
.margeninterior{padding:1rem;}
.card-box{padding:0 1rem !important;}
.headtable{background:#134682;color:#FFF;}
.contenedorinputs{background:#FFF;margin-bottom:3em;}
.contenedorbuttons{text-align:center;margin-bottom:1em;}
.campooblig{margin-left:2em;font-size:12px;}
.fondocabecera{background:#FFF;padding-top:2em;}
.fondoheader{background:#FFF;}
.lineabajo{border-top: 1px solid #134682;margin-bottom:1em;padding-top:2em;}
.lineatitle{border-bottom: #134682 solid 2px;} /*width:22%;*/
.headerh{color:#053e8b;font-size:15px}
.cntbotonessearch{padding:0 12px;width:100%;overflow:hidden;}
.cntfiltro{overflow:hidden;display:none;}
.vermas{cursor:pointer;vertical-align:top;}
.clasegrafico{padding-top:0.5em;font-weight:600;}
.contentgrafico{border:#dee2e6 solid 1px;padding: 0.5em 0;height:400px;overflow:hidden;}
#cntotros{display:none;width:100%;}

.cajitapointer{cursor:pointer;border:0.5px solid #d0d0d0;box-shadow:0 0px 7px rgba(0, 0, 0, 0.3);}
#sidebar-menu .menu-title{color:#FFF !important;}
.contentsquare{overflow:hidden;}
.cntimagen{margin:0 auto;padding-top:10px;text-align:center;}
.cntname{color:#053e8b;font-weight:600;text-align:center;font-size:17px;}
.cntdescription{font-size:12px;color:#2f5597;overflow-y:hidden;padding:0.5em 1em;text-align:center;display:none;}
#sidebar-menu>ul>li>a.active{background-color:#053e8b !important;}

.tablacabecera{background:#053e8b;color:#FFF;}
.table-bordered{border:1px solid #d9d9d9 !important;}
.cntform{border:0.5px solid #d0d0d0;background:#FFF;padding:2em 1em;color:#053e8b;}
.titleform{padding-left:0.5em;}
.headertitle{color:#053e8b;}
.select2-container--default .select2-selection--single{height:36px !important;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-top:3px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{top:4px !important;}
.bordecaja{border:solid 1px #aaa !important;}
.btnbuscar{display: inline-block;font-weight:400;color:#ffffff;background-color: #134682;border-color: #134682;text-align:center;vertical-align: middle;border: 1px solid transparent;
padding: 0.42rem .99rem;font-size:.8rem;line-height:1.5;border-radius:.15rem;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.btnlimpiar{display: inline-block;font-weight:400;color:#ffffff;background-color: #d92c28;border-color: #d92c28;text-align:center;vertical-align: middle;border: 1px solid transparent;
padding: 0.42rem .99rem;font-size:.8rem;line-height:1.5;border-radius:.15rem;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


.page-item.active .page-link {
    background: #64c5b1 !important;
    border-color: #64c5b1 !important;
}

.box-menu-border {
 	border-radius: 3px;
    border: 0.5px solid #d0d0d0;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.cntcajitas{display:inline-block;vertical-align:top;}

@media only screen and (max-width:500px) {
.contentgrafico{overflow-x: scroll;}
}